# Database
DB_USER=nesthive
DB_PASSWORD=nesthive123
DB_NAME=nesthive

# JWT
SECRET_KEY=your_secret_key
ALGORITHM=HS256

# CORS
FRONTEND_URL=http://localhost:5173

# Environment
ENVIRONMENT=development